[submodule "submodules/typereplike"]
	path = submodules/typereplike
	url = https://github.com/ericbaer/typereplike
[submodule "submodules/peano-extras"]
	path = submodules/peano-extras
	url = https://github.com/ericbaer/peano-extras
